@import "~bootstrap/scss/bootstrap.scss";

$primary: #BDBAC2;
$secondary: #231A34;
$text-primary: #F8F8F8;

body {
    background-color: $primary;
}

nav {
    background-color: $secondary;
}

.amenu, .amenu:hover {
    color: $text-primary;
}

.bodyshow {
    width: 90%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px;
    grid-gap: 10px;
  }
  
  .container-show, .buton-show {
      padding: 10px;
      border: 2px solid black;
      border-radius: 4px;
  }
  
  .buton-show {
    background-color: rgba(0, 0, 0, .3);
    text-decoration: none;
    color: black;
  }